<% @page_title = "Change Password" %>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
  	<title>Login</title>
    <%= stylesheet_link_tag "login" %>
  </head>

  <body style="background: #eaeaea; color: #999;">

  	<div id="login-form">

        <h3 style="margin: 0">પાસવર્ડ બદલ ભૂરા !</h3>

        <fieldset>

            <%= form_tag({:controller => 'access', :action => 'change_password'}, :id => 'change_password_form') do %>

                <%= password_field_tag('old_pwd', nil, :placeholder => "Current Password", :required => true) %><br><br>

                <%= password_field_tag('new_pwd', nil, :placeholder => "New Password", :required => true) %><br><br>

                <%= password_field_tag('confirm_pwd', nil, :placeholder => "Confirm Password", :required => true) %><br><br>

                <% if flash[:notice] %>
                  <div class="alert alert-danger fade in" role="alert">
                  <p><%= flash[:notice] %></p>
                  </div>
                <% end %>

                <%= submit_tag("અહિયાં કલીક કર બાડા", :id => "submit-button", :class => "btn btn-lg btn-danger btn-block", :onClick => 'return validation(new_pwd.value, confirm_pwd.value);') %>
            
            <% end %>

        </fieldset>

    </div>

    <div id="footer">
      <div class="container" >
          <p class="text-muted"><center style="font-size: 200%"><i>નીચે શું લૂમ લેવા જોવે છે.... પાસવર્ડ બદલી ને વેતો થા !</i></center></p>
      </div><br>
    </div>

    <script type="text/javascript">

      function validation(new_pwd, confirm_pwd) {
        
        if (new_pwd != confirm_pwd) {
          document.getElementById('old_pwd').value="";
          document.getElementById('new_pwd').value="";
          document.getElementById('confirm_pwd').value="";
          alert("Passwords do not match !");
          return false;
        }  else {
          
          return true;
        }

      }

    function disable() {
      $("#submit-button").addClass('disabled');
    }
    </script>

	</body>
</html>