<% @page_title = "Home" %>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
  	<title>Login</title>
    <%= stylesheet_link_tag "login" %>
  </head>

  <body style="background: #eaeaea; color: #999;">

  	<div id="login-form">

        <h3 style="margin: 0">અંદર ઘલા !</h3>

        <fieldset>

            <%= form_for(:user, :url => {:action => 'attempt_login'}, :id => 'login_form') do |f| %>

                <%= f.text_field(:name, :placeholder => "Name", :id => 'name', :onblur => "if(this.value=='')this.value='Name'", :onfocus => "if(this.value=='Name')this.value='' ") %>

                <%= f.password_field(:password, :placeholder => "Password", :id => 'password', :onblur => "if(this.value=='')this.value='Password'", :onfocus => "if(this.value=='Name')this.value='' ")  %><br><br>

                <% if flash[:notice] %>
                  <div class="alert alert-danger fade in" role="alert">
                  <p><%= flash[:notice] %></p>
                  </div>
                <% end %>
  
                <%= submit_tag("મને અંદર ઘાલી દે !", :class => "btn btn-lg btn-success btn-block", :onClick => 'return validation(name.value, password.value);') %>
            
            <% end %>

        </fieldset>

    </div>

    <div id="footer">
      <div class="container" >
          <p class="text-muted"><center style="font-size: 200%"><i>ડાર્ક-સાઇડમાં તમારું સ્વાગત છે !</i></center></p>
      </div><br>
    </div>

        <script type="text/javascript">
      function validationmn(name)
      {
        if (name == "Name") {
          document.getElementById('error').innerHTML="You can't leave 'Name' empty.";
          return false;
        } else {
              document.getElementById('error').innerHTML="Hello";
              return true;
            }
        }
      }

      function validationpwd(password)
      {
        if (password == "Password") {
          document.getElementById('error').innerHTML="You can't leave 'Password' empty.";
          return false;
        }  else {
          document.getElementById('error').innerHTML="";
          return true;
        }
      }

      function validation(mob_number, password) {
        return (validationmn(mob_number) && validationpwd(password));
      }
    </script>

	</body>
</html>