<% @page_title = "Add Entry" %>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
  	<title>Login</title>
    <%= stylesheet_link_tag "login" %>
  </head>

  <body style="background: #eaeaea; color: #999;">

  	<div id="login-form">

        <h3 style="margin: 0">હવે ઘલાણો તો એન્ટરી કરતો જા </h3>

        <fieldset>

            <%= form_for(:transaction, :url => {:action => 'create_entry'}, :id => 'add_entry_form') do |f| %>

                <%= f.collection_select(:receiver, User.all_except(session[:name]), :name, :name, {}, {:class => 'btn btn-default dropdown-toggle btn-block', :style => "height:44px;"}) %><br>

                <%= f.number_field(:amount, :placeholder => "Amount", :id => 'amount', in: 1...10000, :style => "width:260px;height:44px")%><br><br>

                <%= f.text_field(:details, :placeholder => "Details", :id => 'details')%><br><br>

                <% if flash[:notice] %>
                  <div class="alert alert-danger fade in" role="alert">
                  <p><%= flash[:notice] %></p>
                  </div>
                <% end %>

                <%= submit_tag("અાભાર ! હવે હેડતીનો થા ઢઢુંડા", :class => "btn btn-lg btn-info btn-block", :onClick => 'return validation(name.value, password.value);') %>
            
            <% end %>

        </fieldset>

    </div>

    <div id="footer">
      <div class="container" >
          <p class="text-muted"><center style="font-size: 120%"><i>'' બળ હંમેશા તમારી સાથે રહે ''</i> - <b>સિતારા-યુદ્ધ</b></center></p>
      </div><br>
    </div>